.nav {
  background-color: #5c86c2;
}

.navcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.nav a {
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav a:hover {
  opacity: 0.6;
}

.logo {
  flex: 1;
}
